@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
body{
    font-family: 'Domine', serif;
    background: linear-gradient(135deg, rgba(63,101,251,1) 5%, rgba(198,72,63,1) 88%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
.track {
    stroke-width: 1;
    stroke: lightgrey;
    fill: none;
}

.progress {
    stroke-width: 10;
    stroke: rgb(59, 56, 56);
    stroke-linecap: round;
    fill: none;
    transform: rotate(270deg);
    transform-origin: center;
}

.accion{
    margin-bottom: 200px;
    color: cornsilk;
    font-size: 50px;
}


